body {
	 background-color: #ffffff;
	 width: 100%;
	 margin: 0.5cm;
	 font-family: Lucida Grande, Verdana, Sans-serif;
	 font-size: 14px;
	 color: #4F5155;
}

#header
	{
	 	padding: 0px;
	 	width: 100%;
	 	margin-left: 2px;
	 	margin-right: auto;
	}
	
#footer
	{
		font-size: 10pt;
	}

	
h1 {
 color: #444;
 background-color: transparent;
 /*border-bottom: 2px solid #D0D0D0;*/
 font-size: 16pt;
 font-weight: bold;
 margin: 24px 0 2px 0;
 padding: 5px 0 6px 0;
}


h2 {
 color: #444;
 background-color: transparent;
 font-size: 16px;
 font-weight: bold;
 margin: 24px 0 2px 0;
 padding: 5px 0 6px 0;
}

h3 {
 color: #444;
 background-color: transparent;
 font-size: 14px;
 font-weight: bold;
 margin: 24px 0 2px 0;
 padding: 5px 0 6px 0;
}

#code_editor
	{
		font-family: Menlo;
		font-size: 12pt;
		background: #fafacc;
		padding: 2px;
		border: 2px solid;
	}
	
#pmode_small
	{
		margin: 0px;
		border: 1px solid #000000;
		background-color: #aaaaaa;
		cursor: crosshair;
		width: 500px;
		height: 400px;
		font-family: Menlo;
		font-size: 10pt;
		color: #000000;	
	}
	
#pmode_large
	{
		margin: 0px;
		border: 1px solid #000000;
		background-color: #aaaaaa;
		cursor: crosshair;
		width: 800px;
		height: 600px;
		font-family: Menlo;
		font-size: 10pt;
		color: #000000;	
	}
	
#dump
	{
		 display: none;
    	visibility: hidden;
    	
	}

#console
	{
		width: 500px;
		height: 400px;
		overflow: auto;
		font-family: Courier;
		font-size: 12pt;
		margin-top: 1.5cm;
	}
	

#graph
	{
		margin: 0px;
		width: 500px;
		height: 500px;
	}
	
#console_link
	{
		font-size: 10pt;
		margin: 0px;
	}
	
#save_update
	{
		font-size: 8pt;
	}
		
#footer
	{
		margin-top: 2cm;
	}
	
#error_message
	{
		padding: 5px;
		color: #ff0000;
		font-size: 10pt;
	}
	
#share
	{
		font-size: 8pt;
	}
	
	
#tabs-min {
	background: transparent;
	border: none;
}

#tabs-min .ui-widget-header {
	background: transparent;
	border: none;
	border-bottom: 1px solid #c0c0c0;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}
#tabs-min .ui-state-default {
	background: transparent;
	border: none;
}
#tabs-min .ui-state-active {
	background: transparent url(images/tab_arrow.png) no-repeat bottom center;
	border: none;
}
#tabs-min .ui-state-default a {
	color: #c0c0c0;
}
#tabs-min .ui-state-active a {
	color: #459E00;
}


.work_space {
	margin: 10px;
    overflow: hidden;
    width: 1024px;
}

.work_space .col1 {
    float: left;
    width: auto;
    padding: 5px;
}

.work_space .col2 {
	margin-left: 540px;
    float: left;
    width: auto;
     padding: 5px;
     position: absolute;
     z-index: -1;
}

.work_space label {
    display: block;
}

#wrapper { margin: 0 auto; max-width: 600px; }
#account_input { font-size: 14pt; background-color: #FFFFCC; }
#top-bar {position: relative; padding: 0px; min-height: 40px; margin: 0; width: 100%; overflow: hidden; *zoom: 1; }
#login_line { position: absolute; right: 50px; width: auto; font-size: 10pt;}

#intro_text
	{
		margin-left: 2cm;
		max-width: 900px;
		font-size: 14pt;
		font-family: Times;
		color: #666666;
	}
	
#logo
	{
		font-size: 28pt;
		font-family: monospace;
	}